.container {
  width: 80%;
  margin: 0 auto;
}
.edit-form {
  width: 50%;
  margin: 40px auto;
}
.edit-form-inner {
  display: grid;
  grid-template-columns: 150px 300px;
  grid-gap: 25px;
}
.center {
  text-align: center;
}
.btn {
  padding: 10px 20px;
  border: 1px solid rgb(11, 134, 182);
  border-radius: 5px;
  background: rgb(18, 150, 211);
  color: white;
  cursor: pointer;
  &:hover {
    background: rgb(5, 114, 177);
  }
}
button:disabled {
  background: #aab6be;
  cursor: not-allowed;
  &:hover {
    background: #6d9ab7;
  }
}
input {
  padding: 8px 10px;
}

/* ===========================================
    Dashboard
  ============================================ */

table {
  margin: 50px auto;
  padding: 20px;
  thead {
    background: rgb(35, 133, 173);
    color: #fff;
  }
  td {
    padding: 15px 30px;
    font-size: 1.5rem;
    text-align: center;
  }
  tbody{
    background-color: #e7d7d7;
  }
}
